body{
    background-color: black;
    font-family:arial;
    color: white;
}
h1{

    color: gray;
    font-family: verdana;
}
.maindiv{

   background-color: aliceblue;
   color: black;
   width: 300px;
   padding: 20px;
   border-radius: 25px;
   text-align: center;

}
footer{
    align-items: center;
}